# Virtual Environment
env/
venv/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Local configuration
.env
.env.local

# System files
.DS_Store
Thumbs.db

